.bigbox{
    height: 700px;
    width: 700px;
    margin: auto;
    margin-top: 80px;
  border: 5px solid black;
  animation-name: box; 
  position: relative;
  background-color: aqua;
}
h1{
  text-align: center;
  color: brown;
  font-size:larger ;
padding: auto ;
}
 
.boxsmall{
height: 100px;
width: 100px;
border: 3px black solid;
position:absolute;
background-color: blue;
 animation-name: boxsmall;
 animation-duration: 5s;
 animation-iteration-count: infinite;
 animation-delay: 2s;
 animation-fill-mode: both;
 animation-timing-function: default;
}
:hover.boxsmall{
   background-color: deeppink;
    box-shadow: 0 0 30px grey;}

 @keyframes boxsmall {
  0% {
     background-color: brown;
     top: 0px;
     left:0px;
  }
   50% {  background-color: violet;
     top: 595px;
     left:595px;

  } 
  25% {  background-color: gold;
     top: 0px;
     left:595px;

  }75% {  background-color: silver;
     top: 595px;
     left:0px;

  } 
  100%{ 
     background-color: violet;
     top: 0px;
     left:0px;

  }
} 
 /* @keyframes boxsmall {

    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: 595px;
        left: 595px;
    }

    50% {
        top: 0;
        left: 595px;
    }

    75% {
        top: 595px;
        left: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
} */