 .div1{

    height: 200px;
    width: 500px;
    border: 10px solid red;


 }
#border{

 text-align: center;
 height: 170px;
 width: 470px;
 background-color: aquamarine;
 /*  border = kitne length , type , colour */
 margin-top: 0;

  
 border : 10px solid rgb(0, 0, 0);


/* margin  */
 
margin-top: 5px;
margin-bottom: 5px ;
margin-left: 5px;



/*  padding */
padding: 5px 5px 5px 5px;

}

